@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    font-family: 'Noto Sans Kannada', sans-serif;
}

body {
    background-color: #fef7de;
}

h2,
h3 {
    font-size: 1.8rem;
    color: #4db9e4;
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
}

h3 {
    &::before {
        content: "";
        background: #fff300; //border: #fff300 10px solid;
        margin: 0 auto;
        position: absolute;
        width: 50%;
        height: 20px;
        z-index: -1;
        top: 15px;
        left: 25%;
    }

    &::after {
        content: "";
        background: url("../../img/sun.svg") no-repeat;
        position: absolute;
        background-size: contain;
        width: 30px;
        height: 30px;
        top: -20px;
    }
}


h5 {
    font-size: 1.6rem;
    color: #333;
    letter-spacing: 3px;
    font-weight: 450;
}

h6 {
    font-size: 1.2rem;
    color: #0d96ed;
    font-weight: 400;
}

.theme {
    text-align: center;
    h2 {
        background-color: #fffb8c;
        display: inline-block;
        padding: 10px 30px;
        margin-bottom: 30px;

        &::before {
            content: "";
            background: url("../../img/flower-title.svg") no-repeat;
            position: absolute;
            background-size: contain;
            width: 500px;
            height: 40px;
            top: 5px;
            left: -25px;
        }
    }
}

p {
    line-height: 2;
    font-weight: 350;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.kv {
    width: 100%;
    height: 500px;
    background: url("../../img/kv.jpg");
    background-size: cover;
    overflow: hidden;
    text-align: center;
    color: white;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: url("../../img/model.png") no-repeat;
        background-size: cover;
        width: 300px;
        height: 500px;
        z-index: 10;
        top: 0;
        left: 5%
    }

    &::after {
        content: "";
        background: url("../../img/line.png") no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        z-index: 100;
        position: absolute;
        left: 0px;
    }

    .kv-inner {
        padding-top: 100px;

        .title {
            font-size: 2.2rem;
            letter-spacing: 10px;

            -moz-transform: k( 1.67604460208657, 0, 0, 1.9783074483325, 0, 0);
            -webkit-transform: matrix( 1.67604460208657, 0, 0, 1.9783074483325, 0, 0);
            -ms-transform: matrix( 1.67604460208657, 0, 0, 1.9783074483325, 0, 0);
            text-shadow: 0px 0px 10px rgb(0, 169, 247);
        }

        .sub-title {
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: 5px;
            padding-top: 50px;
            line-height: 1.5;

            &::after {
                content: "";
                background: url("../../img/kv-title-01.png") no-repeat;
                background-size: contain;
                position: absolute;
                width: 120px;
                height: 60px;
                top: 30px;
                left: 60%;
            }
        }
    }
}

.logo {
    width: 200px;
    height: 80px;
    display: inline-block;
    float: left;

    img {
        width: 200px;
    }
}

.intro {
    background-color: rgba(140, 210, 255, 0.2);
    padding: 20px;
    text-align: center;
    margin: 50px 0px;
    position: relative;

    &:after {
        content: "";
        background: rgba(140, 210, 255, 0.2);
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 20px;
        right: -20px;
    }

    p {
        color: #555;
        padding: 30px 0;
        position: relative;

        &::before {
            content: "";
            background: url("../../img/shell01.svg") no-repeat;
            position: absolute;
            bottom: -25px;
            left: 5%;
            width: 200px;
            height: 220px;
            z-index: 100;
        }

        &::after {
            content: "";
            background: url("../../img/shell02.svg") no-repeat;
            position: absolute;
            bottom: -25px;
            right: -5%;
            width: 200px;
            height: 220px;
            z-index: 100;
        }
    }
}

.gift {
    border-radius: 30px;
    color: #f13252;
    padding: 20px 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe9f0+1,ffffff+50,fff1f5+100&1+0,0.5+50,1+100 */
    background: -moz-linear-gradient(-45deg, rgba(255, 233, 240, 1) 0%, rgba(255, 233, 240, 0.99) 1%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 241, 245, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 233, 240, 1) 0%, rgba(255, 233, 240, 0.99) 1%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 241, 245, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 233, 240, 1) 0%, rgba(255, 233, 240, 0.99) 1%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 241, 245, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe9f0', endColorstr='#fff1f5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    .rose-intro{
        position: relative;

        &::after{
            content: "";
            background:  url("../../img/hand01.png") no-repeat;
            background-size: contain;
            position: absolute;
            width: 300px;
            height: 200px;
            top: 80px;
            left: 180px;
        }
    }

    .note {
        font-weight: 300;
        font-size: 0.8rem;
    }

    .rose-logo{
        width: 10%;
        float: right;
    }
}

.col-class {
    margin: 20px 0;

    .class-photo {
        display: inline-block;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin-right: 20px;

        img {
            width: 135%;
        }
    }
    .class-intro {
        display: inline-block;
        .price1,
        .price2 {
            font-weight: 300;
            font-size: 0.8rem;
            display: inline-block;
            padding-right: 20px;
            span {
                font-size: 1.4rem;
                color: #0d96ed;
                font-weight: 400;
            }
        }

        a {
            display: inline-block;
            padding: 10px 30px;
            background-color: #fff300;
            color: #0d96ed;
            text-align: center;
        }
    }
}

.top {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
    font-size: 0.8rem;
}

footer {
    background-color: #5abfee;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    padding: 5px 0;
}